.letterGlowWrapper {
  display: inline;
}
.letterGlow {
  display: inline-block;
  opacity: 0;
  animation: letter-glow 0.7s cubic-bezier(0.19, 1, 0.22, 1) both;
}
.letterGlowSpace {
  display: inline-block;
  width: 0.4em;
}
@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}
